@charset "UTF-8";

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

btn btn-primary btn-lg btn-block {
  color: #6c757d;
}

.my-5 .list-inline .list-inline-item a {
  color: black;
}

.navbar-nav li {
  padding-right: 50px;
  padding-bottom: 10px;
}

.navbar-nav {
  margin: auto;
}

.row .col-6 ul.list-unstyled li a {
    color: #6c757d!important;
}
