@charset "UTF-8";

body {
  height: 100%;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

#header {
  display: flex;
}

#header img {
  margin: auto;
}

.nav {
  margin: auto;
}

.nav-link {
  margin-top: 10px;
}

.navbar-nav .nav-item .nav-link + .sub-menu {
  position: absolute;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  font-size: 15px;
  padding: 10px;
  height: 20px;
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  background: #f8f9fa;
}

.navbar-nav .nav-item:hover .sub-menu {
  position: absolute;
  display: block;
  opacity: 1;
  height: 100px;
  visibility: visible;
  transition: .5s;
  z-index: 1;
}

.sub-menu li a {
  color: black;
}

.navbar-brand {
  margin: 0 5% 0 0;
  font-weight: bold;
  margin-left: 50px;
}

.navbar-light {
  margin: auto;
}

.form-inline {
  margin: auto;
}

.navbar {
  margin: auto;
}

.navbar-nav {
  margin: auto;
}

.navbar-nav li {
  padding-right: 50px;
  padding-bottom: 10px;
}

.nav .nav-item a {
  color: black;
}

.featurette-divider {
  margin: 50px 0;
  border-color: gray;
}

.container {
    max-width: 1500px;
}

.col {
  margin: 10px 0;
}

.btn {
  border-color: #fff;
  background: black;
  color: white;
}

.btn:hover {
  border-color: black;
  background: white;
  color: black;
}

.container h3 {
  margin: 50px 0;
  color: #998465;
  font-size: 40px;
  font-weight: bold;
}

.card-text {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 30px;
}

.bg {
  background: black;
}

.d-block {
  margin-top: 50px;
}

.col-12 {
  margin: 0 120px;
}

.col-6 ul.list-unstyled li {
  padding-bottom: 10px;
}

footer .wrap .bottom {
  padding: 36px 0;
}

.wrap ul {
  display: flex;
  float: left;
}

.wrap ul li a {
  color: white;
  margin: 0 10px;
}

.btn-group {
  float: right;
}

.dropdown-menu {
  background-color: white;
}

.dropdown-menu a {
  color: black;
}

.row .col-6 ul.list-unstyled li a {
    color: #6c757d!important;
}
